.background{

    height: 1000px;
}

.left {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.right{
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    display: inline-block;
    width: 500px;
    height: 205px;
    margin-left: 100px;
    margin-top: 70px;
}
.inputs{
    margin-bottom: 20px;
}
h4{
    color: red;
}
.button {
    margin-left: 165px;
}