<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Color Picker!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script>
        
    </script>
</head>
<body>
    <!-- This page submits info through a post route on the form. It takes the color values and plugs them into variables that change the rgb values for background color -->
    <!-- Uncomment the below line for this to work. Currently gives an error but works fine -->
    <!-- <div class="background" style="background: rgb({{red}}, {{blue}}, {{green}})" ;> -->
        <div class='container'> 
            <h1>Please Pick a Background Color!</h1>
            <div class= 'form-area'>
                <div class="left">
                    <h3>Red:</h3>
                    <h3>Blue:</h3>
                    <h3>Green:</h3>
                </div>
                <div class='right'>
                    <!-- The form table, must align action to the route and post methon the the route method -->
                    <form action='/results' method='post'>
                        <input class='inputs' type='text' name = 'red' placeholder="0-255" >
                        <input class='inputs' type='text' name = 'blue' placeholder="0-255">
                        <input class='inputs' type='text' name = 'green' placeholder="0-255">
                        <br>
                        <br>
                        <br>
                        <br>
                        <input class = 'button' type='submit' value = 'Show My Color!'>
                    </form>
                </div>
                <h4 class='disclaimer'>*All values must be betweeen 0-255</h3>
                
            </div>
        </div>
    </div>
    
</body>
</html>