<!-- Page for admin adding of new users -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header hover">
            <a class="navbar-brand" href="/">The Dashboard</a>
            </div>
            <ul class="nav navbar-nav hover">
                <li><a href="/dashboard"><i class="icon ion-md-home"></i> Home</a></li>
            </ul>
            <ul class="nav navbar-nav hover">
                <li><a href="/users/edituser/{{ request.session.user_id }}"><i class="icon ion-ios-contact"></i> Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right login-right hover">
                <li class="hover"><a href="/signin"><i class="icon ion-ios-person"></i> {{ request.session.login }}</a></li>
            </ul>
        </div>
    </nav>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="errormsg {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class='container'>
        <h1>Add User</h1>
        <form action="/addUser" method='POST'>    
            {% csrf_token %}
            <div class='row'>
                <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-8">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email">
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-8">
                    <label for="first">First Name:</label>
                    <input type="text" class="form-control" name="first">
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-8">
                    <label for="last">Last Name:</label>
                    <input type="text" class="form-control" name="last">
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-8">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" name="pwd">
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-8">
                    <label for="conpwd">Confirm Password:</label>
                    <input type="password" class="form-control" name="conpwd">
                </div>
            </div>
            <!-- Could change this to a more dynamic float, instead of margin left of 300px -->
            <input class='submit' type='submit' value='Submit'>
        </form>
  
    </div>













    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/js/bootstrap.js' %}" media="screen" title="no title"  charset="utf-8">
</body>
</html>