<!-- Page for editing a profile. Only Admins can access this page -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header hover">
            <a class="navbar-brand" href="/">The Dashboard</a>
            </div>
            <ul class="nav navbar-nav hover">
                <li><a href="/dashboard"><i class="icon ion-md-home"></i> Home</a></li>
            </ul>
            <ul class="nav navbar-nav hover">
                <li><a href="/users/edituser/{{ request.session.user_id }}"><i class="icon ion-ios-contact"></i> Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right login-right hover">
                <li class="hover"><a href="/signin"><i class="icon ion-ios-person"></i> {{ request.session.login }}</a></li>
            </ul>
        </div>
    </nav>
    <!-- Border styling not working and divs aren't lining up -->
    
    <div class='container'>
        <div class='d-inline-block'>
            <h1>Edit User #{{ user.id }}</h1>
        </div>
        <div class='d-inline-block'>
            <form action="/dashboard/admin">
                <input class='return' type='submit' value='Return to Dashboard'>
            </form>
            
        </div>
        <br>
        <div class="d-inline-block edit-info">
            <h3>Edit User Information</h3>
            <form action="/update/{{ user.id }}" method='POST'>    
                {% csrf_token %}
                <div class='row'>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" name="email" value="{{ user.email }}">
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <label for="first">First Name:</label>
                        <input type="text" class="form-control" name="first" value="{{ user.first }}">
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <label for="last">Last Name:</label>
                        <input type="text" class="form-control" name="last" value="{{ user.last }}">
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <label for="sel1">Select User Level:</label>
                        <select class="form-control" name="user_level">
                            <option>Normal</option>
                            <option>Admin</option>
                        </select>
                    </div>
                </div>
                <!-- Could change this to a more dynamic float, instead of margin left of 300px -->
                <input class='submit' type='submit' value='Save'>
            </form>
        </div>
        <div class="d-inline-block change-pass">
            <h3>Change Password</h3>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="errormsg {{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/updatepwd/{{ user.id }}" method='POST'>    
                {% csrf_token %}
                <div class='row'>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <div class='row'>
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <label for="conpwd">Confirm Password:</label>
                        <input type="password" class="form-control" name="conpwd">
                    </div>
                </div>
                <!-- Could change this to a more dynamic float, instead of margin left of 300px -->
                <input class='submit' type='submit' value='Update Password'>
            </form>
        </div>
    </div>


















    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/js/bootstrap.js' %}" media="screen" title="no title"  charset="utf-8">
    

</body>
</html>