<!-- The project landing page -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<!-- Items to add later: -->
<!-- -loading circle for page -->
<!-- don't allow empty message -->
<!-- Add error message on redirects where user must be logged in (admin dashboard, user page, ) -->


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header hover">
            <a class="navbar-brand" href="/">The Dashboard</a>
            </div>
            <ul class="nav navbar-nav hover">
                <!-- If you are not logged in, you can access the user dashboard but you won't be able to comment or message -->
                <li><a href="/dashboard"><i class="icon ion-md-home"></i> Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right login-right hover">
                <li class="hover"><a href="/signin"><i class="icon ion-ios-person"></i> {{ request.session.login }}</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>

        <div class='page-header'>
            <div class="jumbotron ">
                <h2>Welcome to the Dashboard! </h2>
                <p>Step inside and see what was built!</p>
                <form action="/signin" method='GET'>
                    <button type='submit' class="btn btn-primary" role="button">Enter</button>
                </form>
                
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h4>Manage Users</h4>
                    <p>Using this application you can add, remove and edit users</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h4>Leave Messages</h4>
                    <p>Users can leave a message for other users</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h4>Edit User Information</h4>
                    <p>As an admin you can edit other user's information(email addresses, first name, last name, etc)</p>
                </div>
            </div>
        </div>
    </div>


















    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/js/bootstrap.js' %}" media="screen" title="no title"  charset="utf-8">


</body>
</html>