<!-- The wall. This is a user's page where others can leave comments. This was challending to work out the logic for posting comments and messages -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header hover">
            <a class="navbar-brand" href="/">The Dashboard</a>
            </div>
            <ul class="nav navbar-nav hover">
                <li><a href="/dashboard"><i class="icon ion-md-home"></i> Home</a></li>
            </ul>
            <ul class="nav navbar-nav hover">
                <li><a href="/users/edituser/{{ request.session.user_id }}"><i class="icon ion-ios-contact"></i> Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right login-right hover">
                <li class="hover"><a href="/signin"><i class="icon ion-ios-person"></i> {{ request.session.login }}</a></li>
            </ul>
        </div>
    </nav>
    <!-- Border styling not working and divs aren't lining up -->
    
    <div class='container'>
        <div class="about-me">
            <h3>{{ user.first }} {{ user.last }}</h3>
            <div class="d-inline-block about-field">
                <p class="about">Registered At:</p>
                <p class="about">User ID:</p>
                <p class="about">Email Address:</p>
                <p class="about">Description:</p>
            </div> 
            <div class="d-inline-block about-info">
                <p class="about">{{ user.created_at }}</p>
                <p class="about">#{{ user.id }}</p>
                <p class="about">{{ user.email }}</p>
                <p class="about">{{ user.description }}</p>
            </div>    
        </div>
        <div class="form-group leavemsg">
            <h3>Leave a message for {{ user.first }}</h3>
            <form action="/postmsg/{{ user.id }}" method='POST'>
                {% csrf_token %}
                <textarea class="form-control" rows="5" name="leavemsg"></textarea>
                <br>
                <input class='return' type='submit' value='Post'>
            </form>
        </div>
        <div class="messages">
            <!-- Gets all messages (all messages are returned here through a context list in views) -->
            {% for message in messages %}
                <!-- Only shows messages for the user who's page is displayed -->
                {% if message.user_id == user.id %}
                    <div class="msg-field">
                        <div class="msg-top">
                            <!-- This displays the user that posted the message by linking the poster ID with a user name -->
                            {% for user in users %}
                                {% if user.id == message.poster_id %}
                                <h4 class='poster'><a href="/users/show/{{ message.poster_id }}">{{ user.first }} {{ user.last }}</a> wrote:</h4>
                                {% endif %}
                            {% endfor %}
                            <!-- <h4 class='poster'><a href="/users/show/{{ message.user_id }}">{{ user.first }} {{ user.last }}</a> wrote:</h4>     -->
                        </div>
                        <div class="msg-top">
                            <p class='time-stamp'>{{ message.created_at }}</p>
                        </div>
                        
                        <div class='msg'>
                            
                            <p>{{ message.content }}</p>
                        </div>
                    </div>
                    <div class='comment-field'>
                        <!-- Like messages, the views function returns a list of all comments and marries comment to it's parent message -->
                        {% for comment in comments %}
                            {% if comment.message_id == message.id %}
                                <div class="comment-top">
                                    <!-- Also matches poster to their user name. A little challenging to figure out -->
                                    {% for user in users %}
                                        {% if user.id == comment.poster_id %}
                                        <h4 class='poster'><a href="/users/show/{{ comment.poster_id }}">{{ user.first }} {{ user.last }}</a> commented:</h4>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- <h4 class='poster'><a href="/users/show/{{ comment.poster_id }}">{{ comment.poster_id }}</a> commented:</h4> -->
                                </div>
                                <div class="comment-top">
                                    <p class='time-stamp'>{{ comment.created_at }}</p>
                                </div>
                                <div class='comment'>
                                    <p>{{ comment.content }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}


                        <div class="form-group leave-comment">
                            <form action="/post-comment/{{ message.id }}" method='POST'>
                                {% csrf_token %}
                                <textarea class="form-control" rows="3" name="leave-comment" placeholder="Leave a comment"></textarea>
                                <br>
                                <input class='return' type='submit' value='Post'>
                            </form>
                        </div>
                    </div>   
                {% endif %}
            {% endfor %}
        </div>
    </div>

















    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/js/bootstrap.js' %}" media="screen" title="no title"  charset="utf-8">
    

</body>
</html>